@font-face {
	font-family: "Catamaran";
	font-weight: 300;
	src: url("/assets/fonts/Catamaran/Catamaran-Thin.woff2") format("woff2");
}

@font-face {
	font-family: "Catamaran";
	font-weight: 400;
	src: url("/assets/fonts/Catamaran/Catamaran-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Catamaran";
	font-weight: 500;
	src: url("/assets/fonts/Catamaran/Catamaran-SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: "Jura";
	font-style: normal;
	src: url("/assets/fonts/Jura/Jura-VariableFont_wght.woff2") format("woff2-variations");
}

body {
	font-family: "Jura", sans-serif;
	background-color: #241e31;
	color: #eac9ff;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
	text-transform: uppercase;
}
